<!-- <h1 class="alert alert-dark">Hell Test Bootstrap</h1>
<div class="alert alert-danger">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sed consequuntur provident? Consequatur eligendi sequi aut optio animi? Totam architecto deserunt delectus consequuntur culpa ut, perspiciatis est omnis illum soluta!</p>
</div> -->


<!-- <app-validation-form></app-validation-form> -->

<!-- <app-header></app-header> -->
<!-- <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">All Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Student Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Error</a>
    </li>
  </ul> -->

<app-header></app-header>
  
<router-outlet></router-outlet>