
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 style="color:red">Hello from Finance Controller</h1>

@Html.ActionLink("Test Custom  Error", "Testerorr", "Finance", new { area = "Finance" }, new { @class = "navbar-brand" })
