.form{
    width: 80%;
    border: 3px solid maroon;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.form input{
    width: 50%;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
}
.form input[type="button"]{
    width: 30%;
}
.form input[type="button"]:hover{
    width: 50%;
}
table{
    background-color: antiquewhite;
    width: 80%;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid black;

}
tr,th,td{
    border: 1px solid red;
}