@{
    ViewBag.Title = "ImageData";
}
<h1 style="color:red">MY MVC Application </h1>

<div style="width:300px;height:150px;background-color:antiquewhite">
    <h2>Please Fill The Form </h2>

    <form method="post" action="/Image/ViewDetails">
        <label>ID</label>
        <input type="text" name="id" />
        <br />
        <label>Name</label>
        <input type="text" name="name" />
        <br />
        <label>Image Number</label>
        <select name="imgnum">
            <option value="1.jpg">number 1</option>
            <option value="2.jpg">number 2</option>
            <option value="3.jpg">number 3</option>
            <option value="4.jpg">number 4</option>
            <option value="5.jpg">number 5</option>
            <option value="6.jpg">number 6</option>
            <option value="7.jpg">number 7</option>
        </select>
        <br />
        <input type="submit" value="Submit" />
    </form>

</div>


