
@{
    ViewBag.Title = "ViewDetails";
}

<h1 style="color:red">View Details</h1>

<h2>Image ID is :@ViewData["id"]</h2>

<h2>Image Name is :@ViewData["name"]</h2>

<img src=@ViewData["imgnum"] style="width:150px;height:150px" />


