@{
    var name = "";
    var date = "";
    var grad = "IM Graduated :)";



}
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <form method="post">
        Name: <input type="text" name="name" />
        <br />
        Birthdate :<input type="date" name="date" />
        <br />
        <input type="submit" value="GO!" />
        <input type="checkbox" name="box" /> Is Gradated ?
    </form>
    @{
        name = Request["name"];
        date = Request["date"];

      

    }
<div>
    @if (!Request.Form["name"].IsEmpty())
    {
        <h1 style="color:rebeccapurple">Hello @name</h1>

    }
    @if (!Request.Form["date"].IsEmpty())
    {
        <h1 style="color:red">Your Birthdate is @date</h1>

    }

    @if (Request.Form["box"] == "on")
    {
        <h1 style="color:green">Yess, @grad</h1>
    }
   


</div>
</body>
</html>